extends layout

block content
  .col-md-12
    h3 Order History
    .col-md-3.border-right(style='padding-top: 20px;')
      table.footable.table.table-striped(data-paging='true', data-paging-size='15')
        thead
          tr
            th Invoice NO
        tbody
   
